<header>
    <nav><ul class="headerUl">
        
      <li><a href="/listadoBandas">Home</a></li>
      <li><a href="/listadoBandas/genero/">Buscar por Genero</a></li>
      <li><a href="/listadoBandas/banda/">Buscar por Banda</a></li>



</ul></nav>
</header>