<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main>
    <section>

</section>
    <ul>

        <% for (let i = 0; i < lista.length; i++) { %>

        <li class="listaPrincipal"> Banda: <%= lista[i].nombre %></li>

        <% } %>
    </ul>
</main>
<%- include('./partials/footer') %>