body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.listaPrincipal {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  list-style: none;
}

.headerUl {
  list-style: none;

}

.footerUl{
  list-style: none;
}

